<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi <%= first_name%>, </p>
<p><%= your_message%></p>

<p><%= first_name +" "+ last_name%></p>
<p><%= mobile_num%></p>

</body>
</html>