<div>
  <%= link_to "create order", :controller => "order", :action => "new", :type => '5', :html => { :class => "btn" } %>
</div>
<div>
  <%= link_to "list orders", user_order_listallOrders_path%>
</div>


<div>
  <%= link_to "ToDOTask", new_user_to_do_task_path%>
</div>