// Place all the styles related to the ToDoTask controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#addToDoTask{
  background-color: #730E15;
  border-radius: 5px;
  height: 10%;
  width:50%;
  margin: 0 25%;
  padding: 1%
}
.showAllToDoTask{
  background-color: #730E15;
  border-radius: 5px;
  height: 10%;
  width:50%;
  margin: 2% 25%;
  padding: 1%
}

.doneItems{
  text-decoration: line-through;
}

.oneDayBack,.oneMonthBack {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.showAllToDoTask > a {
  color: white;
}

.ui-widget-header {
  border: 1px solid #dddddd;
  /* background: #e9e9e9; */
  color: #333333;
  font-weight: bold;
  background-color: orange;
}
.taskDisplay{
  color:white;
  width:60%;
  margin:0 20%;
}
.taskDisplay > span{
  display: inline-block;
  word-wrap:break-word;
  vertical-align: text-top;
}

#addToDoTask > a {
  color: white;
}
.oneDayBack,.oneDayFwd,.oneMonthBack,.oneMonthFwd{
  cursor: pointer;
}